body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    color: white;
    background: rgb(38, 38, 38);
}

.container {
    display: flex;
    justify-content: center; /* centers the inner content horizontally */
    align-items: flex-start; /* aligns the inner content to the top */
    margin: 0 20% 0 20%;
    height: 100%;
}
.container > div{
    width: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}
form input 
{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea
{
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.radios
{
    display: flex;
}

input[type="radio"] {
    accent-color: black;
    width: 20px;
    margin-right: 20px;
}

form #open
{
    width: 10%;
}
form #closed
{
    width: 10%;
}

form div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
    height: auto;
    width: auto;
}

form button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    width: 25%;
}
form button:hover{
    background-color: #494949;
    width: 100%;
}

form button:active{
    background-color: #bbbbbb;

}