body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* full height of the viewport */
}

*::selection {
    color: white;
    background: rgb(38, 38, 38);
}

/* Container is full width but centers its content */
.container1 {
    display: flex;
    justify-content: space-evenly; /* centers the inner content horizontally */
    align-items: center; /* aligns the inner content to the top */
    height: 100%;
    width: 100%;
}

.container1 > img{
    transform: scale(0.5);
    opacity: 0.1;
}

.container1 .form-container{
    width: 50%;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}
/* Optional: style the job details block */
.form-container {
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/* Optional: enhance hover effect */
.form-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.form-container h1 {
    font-size: 40px;
}

.form-container p {
    font-size: 20px;
}

.form-container div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
    font-size: 20px;
}
.container1 .apply_button {
    background-color: black;
    align-self: flex-end;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    width: 25%;

}

.container1 .apply_button:hover {
    background-color: #494949;
    width: 100%;

}

.container1 .apply_button:active {
    background-color: #bbbbbb;
}
